<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">createUser</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="background">
    <div class="login">

      <ion-item class="loginItem">
        <ion-label class="ionLabel" position="floating">Email</ion-label>
        <ion-input class="ionInput" type="email"></ion-input>
      </ion-item>

      <ion-item class="loginItem">
        <ion-label class="ionLabel" position="floating">Username</ion-label>
        <ion-input class="ionInput"></ion-input>
      </ion-item>

      <ion-item class="loginItem">
        <ion-label class="ionLabel" position="floating">First name</ion-label>
        <ion-input class="ionInput"></ion-input>
      </ion-item>

      <ion-item class="loginItem">
        <ion-label class="ionLabel" position="floating">Last name</ion-label>
        <ion-input class="ionInput"></ion-input>
      </ion-item>

      <ion-item class="loginItem">
        <ion-label class="ionLabel" position="floating">Password</ion-label>
        <ion-input class="ionInput" type="password"></ion-input>
      </ion-item>
      
      <ion-button class="loginButton" expand="block" (click)="login()">Sign in</ion-button>
    </div>
  </div>
</ion-content>
