<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Auction</ion-title>
    <ion-buttons slot="end">
      <ion-button size="default" (click)="logOut()"><ion-icon slot="start" name="log-out-outline"></ion-icon> Log Out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Personajes Escaneados -->
      <ion-col size="5">
        <h2 class="ion-text-center">Scanned Characters</h2>
        <ion-list>
          <ion-item 
            *ngFor="let character of scannedCharacters"
            (click)="selectedScannedCharacter = character"
            [class.selected]="selectedScannedCharacter === character">
            <ion-thumbnail slot="start">
              <img [src]="character.image" alt="{{character.name}}" />
            </ion-thumbnail>
            <ion-label>
              <h3>{{character.name}}</h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

      <!-- Icono de intercambio -->
      <ion-col size="2" class="ion-text-center swap-icon">
        <ion-icon name="swap-horizontal" size="large"></ion-icon>
      </ion-col>

      <!-- Personajes Deseados -->
      <ion-col size="5">
        <h2 class="ion-text-center">Desired Characters</h2>
        <ion-list>
          <ion-item 
            *ngFor="let character of desiredCharacters"
            (click)="selectedDesiredCharacter = character"
            [class.selected]="selectedDesiredCharacter === character">
            <ion-thumbnail slot="start">
              <img [src]="character.image" alt="{{character.name}}" />
            </ion-thumbnail>
            <ion-label>
              <h3>{{character.name}}</h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer>
    <ion-toolbar>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <p>
            Exchange: <strong>{{selectedScannedCharacter?.name || 'Select a character'}}</strong>
          </p>
        </ion-col>
        <ion-col>
          <p>
            For: <strong>{{selectedDesiredCharacter?.name || 'Select a character'}}</strong>
          </p>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="saveAuction()">
            Propose Exchange
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</ion-content>
