  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
  
    &.ring-2 {
      border-width: 4px;
    }
  }
  
  .selected {
    border: 2px solid #3880ff;
    box-shadow: 0 0 10px #3880ff;
  }