<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-map [markers]="markers"></app-map>
  <ion-list *ngIf="characters.length!=0">
    <ion-item *ngFor="let character of characters">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains"
        src="{{character.character.image}}"
        />
      </ion-thumbnail>
      <ion-label>{{character.character.name}}</ion-label>
      <ion-label>{{ character.date }}</ion-label>
      <ion-label>{{ character.method }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let barcode of barcodes">
      <ion-label position="stacked">{{ barcode.format }}</ion-label>
      <ion-input type="text" [value]="barcode.rawValue"></ion-input>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scan()" [disabled]="!isSupported">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
