<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ranking</ion-title>
    <ion-buttons slot="end">
      <ion-button size="default" (click)="logOut()"><ion-icon slot="start" name="log-out-outline"></ion-icon> Log Out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ranking</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <!-- Personajes Repetidos -->
        <ion-col size="12" sizeMd="6">
          <h2 class="ion-text-center">Scans</h2>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-title>Scanned Rankings</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-list>

                        <ion-item *ngFor="let user of rankingCaptured">
                          <ion-thumbnail slot="start">
                            <img
                              alt="Silhouette of mountains"
                              src="https://i.pinimg.com/originals/6b/93/8f/6b938f3fe4db2c51e5820360106e032e.jpg"
                            />
                          </ion-thumbnail>
                          <ion-label>{{user.username}}</ion-label>
                          <ion-label slot="end">{{user.captured}}</ion-label>
                        </ion-item>

                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-col>

        <!-- Personajes Deseados -->
        <ion-col size="12" sizeMd="6">
          <h2 class="ion-text-center">Auctions</h2>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-title>Auctions Rankings</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-list>

                        <ion-item *ngFor="let user of rankingExchanged">
                          <ion-thumbnail slot="start">
                            <img alt="Silhouette of mountains" src="https://i.pinimg.com/originals/6b/93/8f/6b938f3fe4db2c51e5820360106e032e.jpg" />
                          </ion-thumbnail>
                          <ion-label>{{user.username}}</ion-label>
                          <ion-label slot="end">{{user.exchanged}}</ion-label>
                        </ion-item>
                  
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
