<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favorites
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="default" (click)="logOut()"><ion-icon slot="start" name="log-out-outline"></ion-icon> Log Out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <app-characters [characters]="favoriteCharacters" [titulo]="'Favorite Characters'" [subtitulo]="'Ricky and Morty'"></app-characters>
</ion-content>
