capacitor-google-map {
  display: inline-block; // Mantiene el mapa como un bloque en línea
  width: 100%;          // Hace que el mapa ocupe todo el ancho del contenedor padre
  height: 400px;       // Altura fija para el mapa

  // Ajustes responsivos
  @media (max-width: 600px) {
    height: 300px; // Altura específica para dispositivos móviles
  }

  @media (min-width: 601px) and (max-width: 1024px) {
    height: 400px; // Altura específica para tabletas
  }

  @media (min-width: 1025px) {
    height: 500px; // Altura específica para escritorios
  }
}
/* Global styles for transparency */
html, body {
  background: none !important; /* Ensure the body is transparent */
  height: 100%;
  margin: 0; /* Remove default margin */
}

ion-content {
  --background:none; /* Set IonContent background to transparent */
}



