<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Characters
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Characters</ion-title>
    </ion-toolbar>
  </ion-header>


  <app-explore-container name="Characters page"></app-explore-container>
  <ion-searchbar animated="true" placeholder="Search a character" (ionInput)="onSearchInput($event)"></ion-searchbar>
  <app-characters [characters]="characters" [titulo]="'Characters'" [subtitulo]="'Ricky and Morty'"></app-characters>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>